---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: {{ namespace }}
  labels:
    role: mysql
spec:
  selector:
    role: mysql
  type: LoadBalancer
  ports:
  - port: 3306
    # name: http
    protocol: TCP
    targetPort: 3306
