---
apiVersion: v1
kind: Service
metadata:
  name: k8s-skelly
  namespace: {{ namespace }}
  labels:
    role: k8s-skelly
spec:
  selector:
    role: k8s-skelly
  type: LoadBalancer
  ports:
  - port: 80
    name: http
    protocol: TCP
    targetPort: http
